<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Telephone Operator Search</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating>Enter Telephone Number </ion-label>
        <ion-input limit-to="20" type="number" [(ngModel)]="teleNumber"></ion-input>
    </ion-item>
    <ion-buttons right>
        <button ion-button padding (click)="getOptimalOpt()">
      <ion-icon name="call"></ion-icon> &nbsp;Search Operator 
    </button>
    </ion-buttons>
    <ion-row>
        <ion-col col>
            <ion-label *ngIf="isOpFound">Operator: <span class="highlit">{{optimalOperator?.operator_name}}</span> and Cost : <span class="highlit">{{optimalOperator?.cost}}</span>(per min)</ion-label>
        </ion-col>
    </ion-row>
</ion-content>