page-settings {
    $color-red: red;
    .danger {
        color: $color-red;
    }
    .error-msg {
        color: $color-red!important;
        font-size: small;
    }
    .normal-msg {
        color: #999;
        font-size: small;
    }
    .header {
        font-size: medium;
        font-weight: bold
    }
    .content {
        font-size: medium;
        color: #3b3838;
    }
    .left-text .button-inner {
        justify-content: flex-start;
    }
}