<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-segment [(ngModel)]="mode">
        <ion-segment-button value="opt_list">
            Operator List
        </ion-segment-button>
        <ion-segment-button value="add_op">
            Operator Console
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="mode">

        <div *ngSwitchCase="'opt_list'">
            <ion-list>
                <ion-item *ngFor="let op of operators">
                    <ion-row>
                        <div col ion-button icon-only clear (click)="showDetails(op)" class="left-text">
                            <ion-icon name="information-circle"></ion-icon> &nbsp;{{op.name}}
                        </div>
                        <!-- <div col text-center>{{op.name}}</div> -->
                        <div col-1 ion-button icon-only clear small (click)="edit(op)">
                            <ion-icon name="create"></ion-icon>
                        </div>
                        <div col-1 ion-button icon-only clear small (click)="delete(op)">
                            <ion-icon name="trash"></ion-icon>
                        </div>
                    </ion-row>
                    <ion-item *ngIf="op.show && op.prefix_list.length<=0">
                        <ion-label>No Prefixes added</ion-label>
                    </ion-item>
                    <ion-list *ngIf="op.show && op.prefix_list.length>0">
                        <ion-item>
                            <ion-row>
                                <div col class="header">Prefix</div>
                                <div col class="header">Cost(per min)</div>
                            </ion-row>
                        </ion-item>
                        <ion-item *ngFor="let pre of op.prefix_list">
                            <ion-row>
                                <div col class="content">{{pre.prefix_no}}</div>
                                <div col class="content">{{pre.price}}</div>
                            </ion-row>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-list>


        </div>

        <div *ngSwitchCase="'add_op'">
            <ion-item>
                <ion-label floating [ngClass]="op?.name_error ?'error-msg':'normal-msg'"> Enter Operator Name</ion-label>
                <ion-input limit-to="12" type="text" [(ngModel)]="op.name"></ion-input>
            </ion-item>

            <ion-buttons right>
                <button ion-button padding (click)="cancel()">
          <ion-icon name="md-close"></ion-icon>&nbsp;Cancel
        </button>
                <button ion-button padding (click)="saveOperator()" *ngIf="!this.editId">
          <ion-icon name="checkmark-circle"></ion-icon>&nbsp;Save Operator
        </button>

                <button ion-button padding (click)="updateOperator()" *ngIf="this.editId">
          <ion-icon name="checkmark-circle"></ion-icon>&nbsp;Update Operator
        </button>
                <button ion-button icon-only clear (click)="addPrefix()" *ngIf="!this.editId">
          <ion-icon name="add-circle"></ion-icon>
        </button>
            </ion-buttons>

            <ion-row *ngFor="let pre of op.prefix_list; let first = first;">
                <ion-item col>
                    <ion-label floating [ngClass]="pre.prefix_error ?'error-msg':'normal-msg'"> Enter Prefix</ion-label>
                    <ion-input limit-to="10" type="number" [(ngModel)]="pre.prefix_no"></ion-input>
                </ion-item>
                <ion-item col>
                    <ion-label floating [ngClass]="pre.price_error ?'error-msg':'normal-msg'"> Enter Price(per min)</ion-label>
                    <ion-input limit-to="4" type="number" [(ngModel)]="pre.price"></ion-input>
                </ion-item>
                <button ion-button icon-only clear (click)="removePrefix()" *ngIf="!first" class="danger">
          <ion-icon name="md-close"></ion-icon>
        </button>
            </ion-row>

        </div>

    </div>
</ion-content>